// Container
// Styles for the main container
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;

main {
  padding: 0 !important;
  height: calc(100% - 48px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;

  @include mix.respond-to(md) {
    padding: vars.$spacing-md;
  }

  @include mix.respond-below(md) {
    padding: vars.$spacing-sm;
  }
}

// Full screen container
.container {
  max-width: none !important;
  width: 100% !important;
  height: calc(100% - 48px) !important; // Account for header
  margin: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: vars.$spacing-md;

  @include mix.respond-to(md) {
    flex-direction: row;
    max-width: 72rem !important; // max-w-6xl
    border-radius: vars.$border-radius-xl !important;
  }

  @include mix.respond-below(md) {
    padding: vars.$spacing-sm;
  }
}
